<html>
  <center>
    <div class="container">
      <h1 class="title">Here is The Minimized Url</h1>
      <p>Minimized Url: 
      <strong><%= @url.short_url %></strong>
      </p>

      <p class="description">Please copy paste the short url in a separate browser</p>

      <div data-controller ="clipboard">
        <input type="text" value="<%= @url.short_url %>" data-clipboard-target ="input">
        <button class="btn" data-action="click->clipboard#copy">Copy</button>
        <button class="btn" data-action="click->clipboard#open">open</button>
      </div>

      <button class="btn" type="sbmit"><%= link_to 'Home', root_path, class: "link" %></button>
      
    </div>

  </center>
</html>



