<html>
  <center>
    <div class="container">
      <h1 class="title">Here is The Minimized Url</h1>
      <p>Minimized Url: 
      <strong><%= @url.short_url %></strong>
      </p>

      <p class="description">Please copy paste the short url in a separate browser</p>
      

      <button class="btn" type="sbmit"><%= link_to 'Home', root_path, class: "link" %></button>
      
    </div>

  </center>
</html>



